<header >
    <nav class="navbar navbar-expand-lg navbar-light bg-primary">
    <% if(locals.user){ %>
        <li>
            <a class="navbar-brand" href="#"><%=user.name%></a>
        </li>
        <li>
            <a class="navbar-brand" href="/users/sign-out">Sign Out</a> 
        </li>
        <li>
            <a class="navbar-brand" href="/users/reset-password">Reset Password</a>
        </li>
    <%}else{ %>
        <li>
            <a class="navbar-brand" href="/users/sign-in/">Sign In</a>
        </li>

        <a class="navbar-brand" href="/users/sign-up">Sign Up</a>
        <li>
        </li>
    <%}%>
    </nav>
</header>